<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjfu.javawebproject.mapper.AttachmentMapper">

    <insert id="addAttachment" parameterType="cn.edu.bjfu.javawebproject.pojo.Attachment">
        insert into Attachment (attachment_id, task_id, attachment_local, attachment_date) values(#{attachment_id}, #{task_id}, #{attachment_local}, #{attachment_date})
    </insert>



</mapper>