<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjfu.javawebproject.mapper.CourseMapper">

    <select id="selectTeacherAllCourse" parameterType="String"
            resultType="cn.edu.bjfu.javawebproject.pojo.Course">
        select Course.course_id, course_name, course_start_year, course_is_archive, student_class, COUNT(Student.student_class) AS student_number
        from Course, Student, SC
        where SC.course_id = Course.course_id AND SC.student_id = Student.student_id AND teacher_id = #{teacher_id}
        GROUP BY SC.sc_id
    </select>

    <select id="selectAllCourse" resultType="cn.edu.bjfu.javawebproject.pojo.Course">
        select * from Course
    </select>

    <select id="selectCourseMessage" parameterType="String"
            resultType="cn.edu.bjfu.javawebproject.pojo.Course">
        select Course.course_id, course_name, course_start_year, course_is_archive, student_class, COUNT(Student.student_class) AS student_number, teacher_name
        from Course, Student, SC, Teacher
        where SC.course_id = Course.course_id AND SC.student_id = Student.student_id AND Course.course_id = #{course_id} AND Teacher.teacher_id = Course.teacher_id
        GROUP BY SC.sc_id
    </select>

    <select id="selectCourseCommonMessage" parameterType="String"
            resultType="cn.edu.bjfu.javawebproject.pojo.Course">
        select Course.course_id, course_name, course_start_year, course_is_archive, student_class, COUNT(Student.student_class) AS student_number, Course.teacher_id
        from Course, Student, SC, Teacher
        where SC.course_id = Course.course_id AND SC.student_id = Student.student_id AND Course.course_id = #{course_id} AND Course.teacher_id = #{teacher_id} AND Teacher.teacher_id = Course.teacher_id AND Course.course_is_archive = '否'
        GROUP BY SC.sc_id
    </select>

    <select id="selectCourseStudentCommon" parameterType="String"
            resultType="cn.edu.bjfu.javawebproject.pojo.Course">
        select Course.course_name
        from Student, Course, SC
        where Student.student_id = SC.student_id AND SC.course_id = Course.course_id AND SC.sc_is_delete = '否' AND Course.course_is_archive = '否'
        AND SC.student_id = #{student_id}
    </select>

    <select id="selectCourseUnCommonMessage" parameterType="String"
            resultType="cn.edu.bjfu.javawebproject.pojo.Course">
        select Course.course_id, course_name, course_start_year, course_is_archive, student_class, COUNT(Student.student_class) AS student_number, Course.teacher_id
        from Course, Student, SC, Teacher
        where SC.course_id = Course.course_id AND SC.student_id = Student.student_id AND Course.course_id = #{course_id} AND Course.teacher_id = #{teacher_id} AND Teacher.teacher_id = Course.teacher_id AND Course.course_is_archive = '是'
        GROUP BY SC.sc_id
    </select>

    <select id="selectCourseCommon" parameterType="String"
            resultType="cn.edu.bjfu.javawebproject.pojo.Course">
        select Course.course_id, course_name, course_start_year, course_is_archive, student_class, COUNT(Student.student_class) AS student_number
        from Course, Student, SC, Teacher
        where SC.course_id = Course.course_id AND SC.student_id = Student.student_id AND Course.course_is_archive = '否' AND Teacher.teacher_id = Course.teacher_id AND Course.teacher_id = #{teacher_id}
        GROUP BY SC.sc_id
    </select>

    <select id="selectCourseUnCommon" parameterType="String"
            resultType="cn.edu.bjfu.javawebproject.pojo.Course">
        select Course.course_id, course_name, course_start_year, course_is_archive, student_class, COUNT(Student.student_class) AS student_number
        from Course, Student, SC, Teacher
        where SC.course_id = Course.course_id AND SC.student_id = Student.student_id AND Course.course_is_archive = '是' AND Teacher.teacher_id = Course.teacher_id AND Course.teacher_id = #{teacher_id}
        GROUP BY SC.sc_id
    </select>

    <select id="selectHasCourse" parameterType="String"
            resultType="cn.edu.bjfu.javawebproject.pojo.Course">
        select *
        from Course
        where course_id = #{course_id}
    </select>

    <insert id="addCourseCommon" parameterType="String">
        insert into Course (course_id,course_name,course_start_year,course_is_archive,teacher_id) values(#{course_id},#{course_name},#{course_start_year},#{course_is_archive},#{teacher_id})
    </insert>

    <update id="updateCourseUnCommon" parameterType="String">
        update Course
        set course_is_archive = '是'
        where course_id = #{course_id}
    </update>

    <update id="updateCourseCommon" parameterType="String">
        update Course
        set course_is_archive = '否'
        where course_id = #{course_id}
    </update>

</mapper>