<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjfu.javawebproject.mapper.GroupMapper">


    <insert id="addGroup" parameterType="cn.edu.bjfu.javawebproject.pojo.Group">
        insert into `Group` (group_id, group_name, project_id) values(#{group_id}, #{group_name}, #{project_id})
    </insert>

    <delete id="deleteGroup" parameterType="String">
        delete from `Group`
        where project_id = #{project_id}
    </delete>

</mapper>