<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjfu.javawebproject.mapper.SCMapper">

    <insert id="addSC" parameterType="cn.edu.bjfu.javawebproject.pojo.SC">
        insert into SC (sc_id, student_id, course_id, sc_is_delete) values(#{sc_id}, #{student_id}, #{course_id}, #{sc_is_delete})
    </insert>

    <update id="deleteSCStudent" parameterType="String">
        update Student, SC, Course
        set SC.sc_is_delete = '是'
        where Student.student_id = SC.student_id AND SC.course_id = Course.course_id AND SC.course_id = #{course_id} AND SC.student_id = #{student_id}
    </update>

</mapper>