<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjfu.javawebproject.mapper.StudentMapper">

    <select id="selectCourseStudent" parameterType="String"
            resultType="cn.edu.bjfu.javawebproject.pojo.Student">
        select Student.student_id, student_name, student_class
        from Student, SC, Course
        where Student.student_id = SC.student_id AND SC.course_id = Course.course_id AND SC.course_id = #{course_id} AND SC.sc_is_delete = '否'
    </select>

    <select id="selectCourseStudentById" parameterType="String"
            resultType="cn.edu.bjfu.javawebproject.pojo.Student">
        select Student.student_id, student_name, student_class
        from Student, SC, Course
        where Student.student_id = SC.student_id AND SC.course_id = Course.course_id AND SC.course_id = #{course_id} AND Student.student_id = #{student_id}
    </select>

    <insert id="addStudent" parameterType="cn.edu.bjfu.javawebproject.pojo.Student">
        insert into Student (student_id, student_name, student_class) values(#{student_id}, #{student_name}, #{student_class})
    </insert>

    <update id="updateStudent" parameterType="cn.edu.bjfu.javawebproject.pojo.Student">
        update Student
        set student_class = #{student_class}
        where student_id = #{student_id}
    </update>

</mapper>