<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjfu.javawebproject.mapper.TeacherMapper">

    <select id="selectTeacher" parameterType="String"
            resultType="cn.edu.bjfu.javawebproject.pojo.Teacher">
        select * from Teacher
        where teacher_id = #{teacher_id}
    </select>

    <select id="selectTeacherAll" resultType="cn.edu.bjfu.javawebproject.pojo.Teacher">
        select * from Teacher
    </select>

    <insert id="addTeacher" parameterType="cn.edu.bjfu.javawebproject.pojo.Teacher">
        insert into Teacher (teacher_id,teacher_name,teacher_phone) values(#{teacher_id},#{teacher_name},#{teacher_phone})
    </insert>


    <update id="updateTeacher" parameterType="cn.edu.bjfu.javawebproject.pojo.Teacher">
        update Teacher set teacher_name = #{teacher_name}, teacher_phone = #{teacher_phone} where teacher_id = #{teacher_id}
    </update>

</mapper>